.card {
  width: 100%;
  height: 330px;
}

.cardBtn {
  position: relative;
  left: 80%;
  margin: 0px 3px;
}

.booktitle,
.subtitle,
.author {
  float: left;
  margin-left: 15px;
  margin-bottom: 3px;
}

.card-img-top {
  width: 192px;
  float: left;
  margin-top: 3px;
}

.card-text {
  float: left;
}
