.card {
  width: 100%;
  height: 380px;
}

.viewBtn {
  margin: 0px 3px;
}

.booktitle {
  float: left;
}

.author {
  float: left;
}
.card-img-top {
  width: 160px;
  float: left;
  margin-top: 3px;
}

.card-text {
  font-size: 14px;
}
